<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-12 col-sm-offset-3">
          <br /><br />
          <h2 style="color: #0fad00">Success</h2>

          <div
            class="swal2-icon swal2-success swal2-animate-success-icon"
            style="display: flex"
          >
            <div
              class="swal2-success-circular-line-left"
              style="background-color: rgb(255, 255, 255)"
            ></div>
            <span class="swal2-success-line-tip"></span>
            <span class="swal2-success-line-long"></span>
            <div class="swal2-success-ring"></div>
            <div
              class="swal2-success-fix"
              style="background-color: rgb(255, 255, 255)"
            ></div>
            <div
              class="swal2-success-circular-line-right"
              style="background-color: rgb(255, 255, 255)"
            ></div>
          </div>

          <p style="font-size: 20px; color: #5c5c5c"><%- message %></p>
          <% if(routename == '/create_relationdid'){ %>
          <img
            width="40%"
            height="40%"
            src="/images/qrcode.png"
            alt="Relation QR Code"
          />
          <% } %> <% if(routename == '/create_schema'){ %>
          <br /><a href="/createcreddef" class="btn btn-success">
            Create CredDef
          </a>
          <% } else{ %>
          <br /><a href="/" class="btn btn-success">Home</a>
          <% } %>
          <br /><br />
        </div>
      </div>
      <div class="row text-center"></div>
    </div>
  </body>
</html>
