<aside class="sidebar">
  <nav class="nav">
    <ul>
      <li>
        <a href="/">Welcome</a>
      </li>
      <li>
        <a href="/update-webhook">Webhook Update</a>
      </li>
      <li>
        <a href="/relationship">Create Relationship</a>
      </li>
      <li>
        <a href="/issue-credentials">Issue Credentials</a>
      </li>
    </ul>
  </nav>
</aside>
