<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head2.ejs") %>
  <body>
    <main class="main">
      <%- include("./partials/sideNav.ejs") %>
      <section class="content">
        <div class="container">
          <div class="wel">
            <div class="row">
              <!-- <div class="col-"></div> -->
              <div class="col-3">
                <link rel="stylesheet" href="" />
                <img
                  style="padding-top: 15px; padding-left: 15px"
                  src="/images/dcrc-logo.png"
                  class="center-block"
                  alt="Logo"
                  width="200px"
                  height="200px"
                />
              </div>
              <div class="col-3"></div>
            </div>
            <div>
              <h1>Department of Civil Registration and Census (DCRC)</h1>
            </div>
            <hr />
          </div>
          <br />
          <div style="padding-left: 40px; padding-right: 40px">
            <h2 style="margin-left: 40px; margin-top: 0; margin-bottom: 10px">
              VISION:
            </h2>
            <span style="font-size: 1em; margin-left: 270px">
              vision of the Department of Civil Registration and Census is to
              become an efficient and effective organization to maintain
              demographic records and deliver the highest standard of civil
              registration and census related services.</span
            >
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
